<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body background="../src/EKYC01.png">
    <div id="header">
        <text id="ukycsys">Unified KYC System</text>
    </div>
    <div id="body">
        <form action="/login" method="post">
            <h1>Login Form</h1>
            <input placeholder="Name" name="name" type="text">
            <br>
            <input placeholder="Password" name="password" type="password">
            <br>
            <br>
            <input class="sub" type="submit">
            <br>
            <br>
            <br>
            <h3>Dont have a account ?</h3>
            <br>
            <a href="/signup">Create a new account</a>
            <br>
            <a href="/admin">Search as admin</a>
        </form>
    </div>



</body>

</html>